name: Auto Assign

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  assign:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      
    steps:
    - name: Auto-assign issue
      if: github.event_name == 'issues'
      uses: pozil/auto-assign-issue@v1
      with:
        assignees: mohammednihal
        numOfAssignee: 1

    - name: Auto-assign PR
      if: github.event_name == 'pull_request'
      uses: kentaro-m/auto-assign-action@v1.2.5
      with:
        configuration-path: '.github/auto-assign.yml'
